/* Nollaa oletustyylit kaikille elementeille */
* {
    margin: 0; /* Poistaa oletusmarginaalit */
    padding: 0; /* Poistaa oletustäytteet */
    box-sizing: border-box; /* Sisällyttää marginaalit ja reunukset elementin kokoon */
}

/* Kehon (body) perusfontti */
body {
    font-family: 'Courier New', Courier, monospace; /* Asettaa monospace-fontin */
    min-height: 100vh; /* Määrittää kehon vähimmäiskorkeuden näytön korkeudeksi */
}

main {
    /*min-height: 100vh; /* Asettaa pääsisällön vähimmäiskorkeuden näytön korkeudeksi */
}

/* Lomaketyylit */
input[type=text], input[type=password], input[type=email] {
    display: inline-block; /* Asettaa elementin viivalohkoksi */
    width: 100%; /* Elementti venyy koko rivin leveydelle */
    padding: 12px 20px; /* Lisää sisäistä marginaalia */
    margin: 8px 0; /* Lisää pystysuoraa marginaalia ylä- ja alapuolelle */
    border: 1px solid #ccc; /* Luo harmaan kehyksen */
    box-sizing: border-box; /* Sisällyttää reunukset ja täytteet elementin kokoon */
}

input[type=submit] {
    background-color: #c9840d; /* Asettaa painikkeen taustaväriksi oranssin */
    color: white; /* Asettaa tekstin väriksi valkoisen */
    padding: 14px 20px; /* Lisää täytettä painikkeen ympärille */
    margin: 8px 0; /* Lisää pystysuoraa marginaalia ylä- ja alapuolelle */
    border: none; /* Poistaa reunuksen */
    cursor: pointer; /* Näyttää osoittimen kätenä hover-tilassa */
    font-size: 16px; /* Asettaa fonttikoon */
    font-weight: bold; /* Asettaa lihavoidun fontin */
    width: 100%; /* Venyy koko rivin leveydelle */
}

button {
    background-color: #9abe18; /* Asettaa vihreän taustavärin */
    color: white; /* Asettaa tekstin väriksi valkoisen */
    padding: 14px 20px; /* Lisää täytettä painikkeen ympärille */
    margin: 8px 0; /* Lisää pystysuoraa marginaalia ylä- ja alapuolelle */
    border: none; /* Poistaa reunuksen */
    cursor: pointer; /* Näyttää osoittimen kätenä hover-tilassa */
    font-size: 16px; /* Asettaa fonttikoon */
    font-weight: bold; /* Asettaa lihavoidun fontin */
}

button:hover {
    opacity: 0.8; /* Himmentää painikkeen taustaväriä hover-tilassa */
}

.btn-register {
    float: right; /* Kohdistaa elementin oikeaan reunaan */
}

/* Kirjautumislomakkeen avatar */
.imgcontainer {
    text-align: center; /* Keskitetään sisältö (kuva) */
    margin: 24px 0 12px 0; /* Lisää marginaalia ylä- ja alapuolelle */
}

img.avatar {
    width: 40%; /* Asettaa kuvan leveydeksi 40% vanhemman elementin leveydestä */
    border-radius: 50%; /* Pyöristää kuvan reunat ympyräksi */
}

/* Onnistuneiden viestien tyylit */
.success {
    color: green; /* Asettaa tekstin väriksi vihreän */
}

/* Virheviestien tyylit */
.error {
    color: red; /* Asettaa tekstin väriksi punaisen */
}

/* Määritellään modaalin (popup-ikkunan) taustatyylit */
#loginModal {
    display: none; /* Piilottaa modaalin oletuksena */
    position: fixed; /* Kiinnittää modaalin näkyvään ikkunaan riippumatta sivun vierityksestä */
    z-index: 1000; /* Asettaa modaalin muiden elementtien päälle */
    left: 0; /* Modaalin sijainti vasemmasta reunasta */
    top: 0; /* Modaalin sijainti yläreunasta */
    width: 100%; /* Modaalin taustan leveys on koko sivun leveys */
    height: 100%; /* Modaalin taustan korkeus on koko sivun korkeus */
    background-color: rgba(0, 0, 0, 0.4); /* Läpinäkyvä musta tausta */
    overflow-y: auto; /* Sallii pystysuoran vierityksen */
}

#loginModal::-webkit-scrollbar {
    display: none; /* Piilottaa WebKit-selainten vierityspalkit */
}

#loginModal {
    -ms-overflow-style: none; /* Poistaa vierityspalkit IE/Edge-selaimissa */
    scrollbar-width: none; /* Poistaa vierityspalkit Firefox-selaimessa */
}

/* Modaalin sisältöalueen (popup-ikkunan) tyylit */
.modal-content {
    position: relative; /* Sijainti suhteessa modaalin sisään */
    margin: 5% auto; /* Keskittää modaalin sisältö vaakasuunnassa ja asettaa 5% marginaalin yläreunasta */
    padding: 20px; /* Lisää täytettä sisällön ympärille */
    width: 80%; /* Asettaa sisällön leveydeksi 80% ikkunan leveydestä */
    max-width: 400px; /* Maksimileveys on 400 pikseliä */
    background: #fff; /* Asettaa sisällön taustaväriksi valkoisen */
    border-radius: 8px; /* Pyöristää kulmat 8 pikselillä */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisää varjon sisällön ympärille */
}

/* Modaalin sulkemiskuvakkeen tyylit */
.close {
    color: #aaa; /* Asettaa sulkemiskuvakkeen väriksi vaaleanharmaan */
    float: right; /* Asettaa kuvakkeen oikeaan reunaan */
    font-size: 28px; /* Kuvakkeen fonttikoko */
    font-weight: bold; /* Kuvakkeen fontti lihavoituna */
}

/* Sulkemiskuvakkeen hover- ja focus-tyylit */
.close:hover,
.close:focus {
    color: black; /* Muuttaa värin mustaksi, kun kohdistin on kuvakkeen päällä tai se on valittu */
    text-decoration: none; /* Poistaa alleviivauksen */
    cursor: pointer; /* Muuttaa osoittimen kädeksi */
}